# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Figma (рабочие файлы, не коммитить)
figma_*.json

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
