{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="about-use_sections">
    <div class="container">
        <nav class="breadcrumbs">
           <a href="/">Главная</a>
           <span class="separator">&gt;</span>
           <span class="current">О клинике</span>
        </nav>
        <div class="about-us-container">
            <h3>О клинике</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Metus vitae aenean amet nibh lacus, habitasse fermentum, donec id.
                Nisl, mollis dolor nec id volutpat quis. Tempus suspendisse ipsum vitae rhoncus scelerisque sed. Et lacinia eget eros duis purus, tortor id senectus tristique.
                Eu, rhoncus pretium diam hendrerit porta tincidunt at volutpat. Et vestibulum, ultrices risus vel tellus, magna. In eu sit lacus, turpis. Sed a commodo mauris amet.
                Malesuada adipiscing a sit non proin. Et, augue sed proin urna pretium mattis nisi. In sit ut praesent libero neque adipiscing. Diam eget pulvinar neque morbi quis sed vulputate tellus.
                Et vel aliquet gravida sed. Malesuada id nisl amet, vitae dictum tempor turpis. Sit purus orci a non pellentesque lorem pulvinar id arcu. Habitant tempus nisi commodo elementum ac amet, ante platea.
                Neque eu ac feugiat eu aliquam dui cursus donec. 
            </p>
        </div>
    </div>
</section>
<section class="history-section">
    <div class="container">
      <div class="items">
        <div class="timeline-item">
          <div class="timeline-year">2022</div>
          <div class="timeline-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu adipiscing amet habitant laoreet dui, at at. Felis et duis erat proin. Arcu faucibus accumsan diam neque, egestas nibh dolor id vulputate. In ac orci nisl facilisis leo.</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-year">2021</div>
          <div class="timeline-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu adipiscing amet habitant laoreet dui, at at. Felis et duis erat proin. Arcu faucibus accumsan diam neque, egestas nibh dolor id vulputate. In ac orci nisl facilisis leo.</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-year">2020</div>
          <div class="timeline-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu adipiscing amet habitant laoreet dui, at at. Felis et duis erat proin. Arcu faucibus accumsan diam neque, egestas nibh dolor id vulputate. In ac orci nisl facilisis leo.</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-year">2019</div>
          <div class="timeline-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu adipiscing amet habitant laoreet dui, at at. Felis et duis erat proin. Arcu faucibus accumsan diam neque, egestas nibh dolor id vulputate. In ac orci nisl facilisis leo.</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-year">2017</div>
          <div class="timeline-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu adipiscing amet habitant laoreet dui, at at. Felis et duis erat proin. Arcu faucibus accumsan diam neque, egestas nibh dolor id vulputate. In ac orci nisl facilisis leo.</p>
          </div>
        </div>

        <div class="timeline-item">
          <div class="timeline-year">2005</div>
          <div class="timeline-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu adipiscing amet habitant laoreet dui, at at. Felis et duis erat proin. Arcu faucibus accumsan diam neque, egestas nibh dolor id vulputate. In ac orci nisl facilisis leo.</p>
          </div>
        </div>

      </div>  
    
    </div>
</section>
<section class="reviews-section">
  <div class="container">
    <div class="reviews-header">
      <h2 class="reviews-title">Отзывы наших пациентов</h2>
      <div class="reviews-arrows">
         <img src="{% static 'svg/Скрол.svg'%}" alt="button">
      </div>
    </div>

    <div class="reviews-grid">
      <div class="review-card">
        <div class="review-card-header">
          <span class="review-author">Анна Петрова, 37 лет</span>
          <div class="stars-cont">
            <img src="{% static 'svg/star.svg'%}" alt="star">
            <img src="{% static 'svg/star.svg'%}" alt="star">
            <img src="{% static 'svg/star.svg'%}" alt="star">
            <img src="{% static 'svg/star.svg'%}" alt="star">
            <img src="{% static 'svg/star.svg'%}" alt="star">
          </div>
        </div>
        <p class="review-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tortor phasellus feugiat rhoncus id. Feugiat a, est urna laoreet aenean arcu tellus mauris sagittis. Morbi praesent nunc tortor risus aliquam lorem quam mauris. Enim, vitae, mi a sapien lectus dictum posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <a href="#" class="review-more">Читать полностью</a>
        <div class="review-footer">
          <span class="review-date">09.08.2021</span>
          <span class="review-doctor">Врач: <a href="#">Петров Иван Иванович</a></span>
        </div>
      </div>

      <div class="review-card">
        <div class="review-card-header">
          <span class="review-author">Анна Петрова, 37 лет</span>
          <div class="stars-cont">
            <img src="{% static 'svg/star.svg'%}" alt="star">
            <img src="{% static 'svg/star.svg'%}" alt="star">
            <img src="{% static 'svg/star.svg'%}" alt="star">
            <img src="{% static 'svg/star.svg'%}" alt="star">
            <img src="{% static 'svg/star.svg'%}" alt="star">
          </div>
        </div>
        <p class="review-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non tortor phasellus feugiat rhoncus id. Feugiat a, est urna laoreet aenean arcu tellus mauris sagittis. Morbi praesent nunc tortor risus aliquam lorem quam mauris. Enim, vitae, mi a sapien lectus dictum posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <a href="#" class="review-more">Читать полностью</a>
        <div class="review-footer">
          <span class="review-date">09.08.2021</span>
          <span class="review-doctor">Врач: <a href="#">Петров Иван Иванович</a></span>
        </div>
      </div>
    </div>

    <div class="reviews-btn-wrapper">
      <a href="{% url 'reviews'%}" class="reviews-all-btn">Все отзывы</a>
    </div>
  </div>
</section>
<section class="licenses-block">
    <h2 class="licenses-title">Наши лицензии</h2>

    <div class="licenses-grid">
        <div class="license-card">
            <img src="{% static 'images/license.png' %}" alt="Лицензия">
        </div>
        <div class="license-card">
            <img src="{% static 'images/license.png' %}" alt="Лицензия">
        </div>
        <div class="license-card">
            <img src="{% static 'images/license.png' %}" alt="Лицензия">
        </div>
        <div class="license-card">
            <img src="{% static 'images/license.png' %}" alt="Лицензия">
        </div>
    </div>
</section>
<section class="callback-section">
  <div class="callback-container">
    <div class="callback-content">
      <h2 class="callback-title">Хотите, мы Вам перезвоним?</h2>
      <p class="callback-subtitle">Оставьте заявку и мы подробно ответим на все Ваши вопросы!</p>
      
      <form action="{% url 'save_callback' %}" method="POST" class="callback-form">
        {% csrf_token %}
        <div class="form-row">
          <div class="input-group">
            <label for="id_name">Ваше ФИО</label>
            <input type="text" id="id_name" name="name" placeholder="Иванов Иван Иванович" required>
          </div>
          
          <div class="input-group">
            <label for="id_phone">Номер телефона</label>
            <input type="number" id="id_phone" name="phone" placeholder="+7 (___) ___-__-__" required>
          </div>
        </div>
        
        <button type="submit" class="callback-btn">Заказать звонок</button>
      </form>
      
      <p class="callback-policy">
        Нажимая на кнопку «Заказать звонок», вы соглашаетесь с 
        <a href="#">политикой конфиденциальности</a>
      </p>
    </div>

    <div class="callback-image">
      <img src="{% static 'images/doctor-with-stethoscope-2021-09-03-02-58-01-utc 1.png' %}" alt="Врач консультант">
    </div>
  </div>
</section>
{% endblock %}