{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сеть клиник{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'components/header.html' %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}
    <script src="{% static 'js/app.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>