{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="legal">
  <div class="container">
    <h2 class="title">Нормативно правовая информация</h2>

    <div class="list">
      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon minus"></span>
        </div>
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>

      <div class="item">
        <div class="top">
          <span>Очень очень длинное название информации</span>
          <span class="icon plus"></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contacts-block">
  <div class="contacts-card">
    <h2 class="contacts-title">Наши контакты</h2>

    <div class="contacts-info">
      <div class="contact-item">
        <span class="label">Адрес</span>
        <p class="value">г. Томск, ул. 79 Гвардейской дивизии, 6</p>
      </div>

      <div class="contact-item">
        <span class="label">Телефон</span>
        <p class="value">8 (3822) 50-00-49</p>
      </div>

      <div class="contact-item">
        <span class="label">Почта</span>
        <p class="value">info@docnear.ru</p>
      </div>
    </div>

    <a href="#" class="contacts-btn">Записаться на прием</a>
  </div>
</section>

<section class="doctors-page">
  <div class="container">

    <h1 class="page-title">Наши специалисты</h1>

    <div class="doctors-grid">
      {% for doctor in doctors %}
        <article class="doctor-card">
          <div class="doctor-photo">
            {% if doctor.photo %}
              <img src="{% static 'images/' %}{{ doctor.photo }}" alt="{{ doctor.full_name }}">
            {% else %}
              <img src="{% static 'images/TDV_M63_010 1.png' %}" alt="Нет фото">
            {% endif %}
          </div>
          
          <div class="doctor-content">
            <h3 class="doctor-name">{{ doctor.full_name }}</h3>
            <p class="doctor-spec">{{ doctor.specialty }}</p>
            
            <div class="doctor-actions">
              <a href="{% url 'doctors_list' %}" class="btn-green">Запись на прием</a>
            </div>
          </div>
        </article>
      {% empty %}
        <p>В базе данных пока нет врачей.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}