<header>
  <!-- Верхняя полоска с инфо -->
  <div class="header_topbar">
    <h1>Сеть клиник Томской области</h1>
    <h2>Версия для слабовидящих<h2/>
    <div class="header_social">
      <a class="header_phone" href="tel:+79780000000">+7 (978) 00-00-000</a>
      <button>Записаться на прием</button>
    </div>
  </div>

  <!-- Навигация с логотипом -->
  <nav class="header_navbar">
    <a class="header_logo" href="/">
      <img src="static\img\6fa4e09bdc18a460f722958684d333b5b55f8b08.png" alt="Ваш Доктор Рядом" />
    </a>
    <ul class="header_nav">
      <a href="#">Врачи</a>
      <a href="#">Услуги</a>
      <a href="#">Диагностика</a>
      <a href="#">Анализы</a>
      <a href="#">Акции</a>
      <a href="#">Пациентам</a>
      <a href="#">О клинике</a>
      <a href="#">Отзывы</a>
      <a href="#">Контакты</a>
      
      <!-- ... -->
    </ul>
  </nav>
</header>
